@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: rg(236 72 153);
    border-radius: inherit;
}

::-webkit-scrollbar-thumb {
    background-color: none;
    outline: 0;
    border-radius: inherit;
}

/* To avoid -internal-autofill-selected */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}